.photo-grid {
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 92px 48px 0;
}

@media screen and (max-width: 768px) {
  /* стили для планшета */
  .photo-grid {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 470px) {
  /* стили для малого смартфона */
  .photo-grid {
    gap: 12px;
    padding: 64px 16px 0;
    grid-template-columns: none;
  }
}
