.lead__subtitle {
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  max-width: 640px;
  margin-block: 0;
  padding-top: 32px;
  margin: 0 auto;
}

@media screen and (max-width: 470px) {
  /* стили для малого смартфона */
  .lead__subtitle {
    font-size: calc(25px + (30 - 25) * ((100vw - 288px) / (470 - 288)));
    line-height: 122%;
  }
}

@media screen and (max-width: 350px) {
  /* стили для малого смартфона */
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    padding-top: 16px;
  }
}
