.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
  /* стили для планшета */
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 740px) {
  /* стили для малого смартфона */
  .footer {
    align-items: flex-start;
    flex-direction: column;
    padding: 64px 16px 24px;
  }
}
